In [73]:
import pandas as pd
import numpy as np

In [74]:
macro=pd.read_excel("Moldova_macro_08082024.xlsx", sheet_name="Sheet1")
df=pd.read_csv("data_with_macro.csv")

In [75]:
macro.head(10)

,Country,Category,DateTime,Value,Frequency,HistoricalDataSymbol,LastUpdate
0,Moldova,Currency,2024-08-08T00:00:00,17.67772,Daily,USDMDL,2024-08-16T09:47:13.077
1,Moldova,Currency,2024-08-07T00:00:00,17.66201,Daily,USDMDL,2024-08-16T09:47:13.077
2,Moldova,Interest Rate,2024-08-06T00:00:00,3.60000,Daily,MOLDOVAINTTRATE,2024-08-06T13:44:00
3,Moldova,Currency,2024-08-06T00:00:00,17.68080,Daily,USDMDL,2024-08-16T09:47:13.077
4,Moldova,Currency,2024-08-05T00:00:00,17.71966,Daily,USDMDL,2024-08-16T09:47:13.077
5,Moldova,Currency,2024-08-02T00:00:00,17.77072,Daily,USDMDL,2024-08-16T09:47:13.077
6,Moldova,Currency,2024-08-01T00:00:00,17.65897,Daily,USDMDL,2024-08-16T09:47:13.077
7,Moldova,Inflation Rate,2024-07-31T00:00:00,4.80000,Monthly,MOLDOVAINFNRATE,2024-08-12T07:01:00
8,Moldova,Food Inflation,2024-07-31T00:00:00,4.20000,Monthly,MOLDOVAFOOINF,2024-08-12T07:20:00
9,Moldova,Consumer Price Index CPI,2024-07-31T00:00:00,4211.14000,Monthly,MOLDOVACONPRIINDCPI,2024-08-12T07:23:00

In [76]:
macro["Country"].unique()

array(['Moldova'], dtype=object)

In [77]:
macro["DateTime"]

0       2024-08-08T00:00:00
1       2024-08-07T00:00:00
2       2024-08-06T00:00:00
3       2024-08-06T00:00:00
4       2024-08-05T00:00:00
               ...
2594    2017-01-06T00:00:00
2595    2017-01-05T00:00:00
2596    2017-01-04T00:00:00
2597    2017-01-03T00:00:00
2598    2017-01-02T00:00:00
Name: DateTime, Length: 2599, dtype: object

In [78]:
df["date_disbursement"].head(15)

0     2019-03-06
1     2019-05-08
2     2020-08-19
3     2023-11-17
4     2023-03-31
5     2019-01-11
6     2023-01-25
7     2024-03-11
8     2020-03-11
9     2019-11-19
10    2022-11-17
11    2020-02-20
12    2020-11-04
13    2019-07-22
14    2020-02-06
Name: date_disbursement, dtype: object

In [79]:
# macro["DateTime"] = macro["DateTime"].apply(lambda x: x.split('T')[0])
# macro["DateTime"]

In [80]:
daily=macro[macro["Frequency"]=="Daily"]
daily_grouped=daily.groupby("Category")

In [81]:
categories=macro["Category"].unique()

df[categories]=np.nan
df[categories]

,Currency,Interest Rate,Inflation Rate,Food Inflation,Consumer Price Index CPI,Balance of Trade,Wages,Unemployment Rate,Remittances,GDP Growth Rate,Current Account,GDP,Government Budget
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1062,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1063,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1064,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
len(macro)

2599

In [83]:
#Adding yearly
yearly=macro[macro["Frequency"]=="Yearly"]

df['date_disbursement'] = pd.to_datetime(df['date_disbursement'])
yearly['DateTime'] = pd.to_datetime(yearly['DateTime'])

df['Year'] = df['date_disbursement'].dt.year
yearly['Year'] = yearly['DateTime'].dt.year

merged_df = df.merge(yearly, how='left', left_on='Year', right_on='Year')

for category in yearly['Category'].unique():
    if category in merged_df.columns:
        df[category] = merged_df["Value"]

df = df.drop(columns=['Year'])
df = df.reset_index(drop=True)

df

/var/folders/zc/bzfvn6lx1c1_30p_zl2yr9lw0000gn/T/ipykernel_67814/3734743971.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yearly['DateTime'] = pd.to_datetime(yearly['DateTime'])
/var/folders/zc/bzfvn6lx1c1_30p_zl2yr9lw0000gn/T/ipykernel_67814/3734743971.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yearly['Year'] = yearly['DateTime'].dt.year

,Unnamed: 0,branch,product_details,amount,amount_mdl,maturity_months,ir,eir,grace_period,montly_payment,...,Food Inflation,Consumer Price Index CPI,Balance of Trade,Wages,Unemployment Rate,Remittances,GDP Growth Rate,Current Account,GDP,Government Budget
0,0,drochia,rapid_loan_75_001_150000_mdl,60000,60000,24,20.0,34.1928,0.0,3363.61,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.40,-1.40
1,1,balti,rapid_loan_<=75_000_mdl,15000,15000,12,25.0,43.8648,0.0,1511.67,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.74,11.74
2,2,balti,rapid_loan_<=75_000_mdl,15000,15000,8,25.0,43.8000,0.0,2161.56,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.40,-1.40
3,3,ungheni,rapid_loan_75_001_150000_mdl,65000,65000,36,20.0,32.8248,0.0,2760.76,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.74,11.74
4,4,balti,rapid_loan_75_001_150000_mdl,150000,150000,30,28.0,40.2156,0.0,7630.35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-5.30,-5.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1062,1062,comrat,rapid_loan_75_001_150000_mdl,100000,100000,36,18.0,304392.0000,0.0,"4119,82",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.74,11.74
1063,1063,comrat,rapid_loan_<=75_000_mdl,40000,40000,24,27.0,399024.0000,0.0,"2359,83",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.54,16.54
1064,1064,comrat,rapid_loan_<=75_000_mdl,30000,30000,15,25.0,422352.0000,0.0,"2517,09",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.30,-3.30
1065,1065,comrat,rapid_loan_75_001_150000_mdl,55000,55000,9,19.0,297324.0000,6.0,"21513,83",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.51,14.51
1066,1066,comrat,rapid_loan_75_001_150000_mdl,60000,60000,24,25.0,333288.0000,0.0,"3480,37",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.54,16.54

In [84]:
quarterly=macro[macro["Frequency"]=="Quarterly"]

quarterly.head(20)

,Country,Category,DateTime,Value,Frequency,HistoricalDataSymbol,LastUpdate
114,Moldova,Wages,2024-03-31T00:00:00,13170.30,Quarterly,MOLDOVAWAG,2024-05-31T13:40:00
115,Moldova,Unemployment Rate,2024-03-31T00:00:00,4.40,Quarterly,MOLDOVAUNETRATE,2024-06-04T11:01:00
116,Moldova,Remittances,2024-03-31T00:00:00,253.65,Quarterly,MOLDOVAREM,2024-07-25T09:05:00
118,Moldova,GDP Growth Rate,2024-03-31T00:00:00,2.50,Quarterly,MOLDOVAGDPRATE,2024-07-26T05:24:00
120,Moldova,Current Account,2024-03-31T00:00:00,-449.61,Quarterly,MOLDOVACURCOUNT,2024-07-25T07:30:00
199,Moldova,Wages,2023-12-31T00:00:00,13401.10,Quarterly,MOLDOVAWAG,2024-02-29T15:34:00
200,Moldova,Unemployment Rate,2023-12-31T00:00:00,4.90,Quarterly,MOLDOVAUNETRATE,2024-03-05T12:01:00
201,Moldova,Remittances,2023-12-31T00:00:00,268.85,Quarterly,MOLDOVAREM,2024-05-08T03:27:00
203,Moldova,GDP Growth Rate,2023-12-31T00:00:00,0.10,Quarterly,MOLDOVAGDPRATE,2024-07-26T05:24:00
206,Moldova,Current Account,2023-12-31T00:00:00,-522.87,Quarterly,MOLDOVACURCOUNT,2024-04-06T10:10:00
286,Moldova,Wages,2023-09-30T00:00:00,12357.20,Quarterly,MOLDOVAWAG,2023-12-02T10:03:00
287,Moldova,Unemployment Rate,2023-09-30T00:00:00,4.10,Quarterly,MOLDOVAUNETRATE,2023-12-04T14:05:00
288,Moldova,Remittances,2023-09-30T00:00:00,283.67,Quarterly,MOLDOVAREM,2024-05-08T03:27:00
290,Moldova,GDP Growth Rate,2023-09-30T00:00:00,-1.10,Quarterly,MOLDOVAGDPRATE,2024-07-26T05:27:00
292,Moldova,Current Account,2023-09-30T00:00:00,-599.24,Quarterly,MOLDOVACURCOUNT,2023-12-30T10:10:00
371,Moldova,Wages,2023-06-30T00:00:00,12175.90,Quarterly,MOLDOVAWAG,2023-08-31T11:06:00
372,Moldova,Unemployment Rate,2023-06-30T00:00:00,3.80,Quarterly,MOLDOVAUNETRATE,2023-09-01T11:20:00
373,Moldova,Remittances,2023-06-30T00:00:00,298.69,Quarterly,MOLDOVAREM,2024-05-08T03:27:00
375,Moldova,GDP Growth Rate,2023-06-30T00:00:00,-0.10,Quarterly,MOLDOVAGDPRATE,2024-03-15T12:14:00
377,Moldova,Current Account,2023-06-30T00:00:00,-409.69,Quarterly,MOLDOVACURCOUNT,2023-09-30T10:10:00

In [85]:
df['date_disbursement'] = pd.to_datetime(df['date_disbursement'])
quarterly['DateTime'] = pd.to_datetime(quarterly['DateTime'])

quarterly_expanded = quarterly.copy()
quarterly_expanded['Start_Date'] = quarterly_expanded['DateTime'] - pd.DateOffset(months=2)
quarterly_expanded['End_Date'] = quarterly_expanded['DateTime']

merged_df = df.merge(quarterly_expanded, how='left', left_on='date_disbursement', right_on='DateTime')

for category in quarterly_expanded['Category'].unique():
    mask = merged_df['Category'] == category
    df.loc[mask, category] = merged_df.loc[mask, 'Value']

df = df.reset_index(drop=True)

df.head(20)

/var/folders/zc/bzfvn6lx1c1_30p_zl2yr9lw0000gn/T/ipykernel_67814/442705577.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quarterly['DateTime'] = pd.to_datetime(quarterly['DateTime'])

,Unnamed: 0,branch,product_details,amount,amount_mdl,maturity_months,ir,eir,grace_period,montly_payment,...,Food Inflation,Consumer Price Index CPI,Balance of Trade,Wages,Unemployment Rate,Remittances,GDP Growth Rate,Current Account,GDP,Government Budget
0,0,drochia,rapid_loan_75_001_150000_mdl,60000,60000,24,20.0,34.1928,0.0,3363.61,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.40,-1.40
1,1,balti,rapid_loan_<=75_000_mdl,15000,15000,12,25.0,43.8648,0.0,1511.67,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.74,11.74
2,2,balti,rapid_loan_<=75_000_mdl,15000,15000,8,25.0,43.8000,0.0,2161.56,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.40,-1.40
3,3,ungheni,rapid_loan_75_001_150000_mdl,65000,65000,36,20.0,32.8248,0.0,2760.76,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.74,11.74
4,4,balti,rapid_loan_75_001_150000_mdl,150000,150000,30,28.0,40.2156,0.0,7630.35,...,NaN,NaN,NaN,11486.2,NaN,NaN,NaN,NaN,-5.30,-5.30
5,5,comrat,rapid_loan_75_001_150000_mdl,70000,70000,24,20.0,34.6308,0.0,3939.78,...,NaN,NaN,NaN,NaN,5.5,NaN,NaN,NaN,11.53,11.53
6,6,balti,rapid_loan_75_001_150000_mdl,60000,60000,22,25.0,34.3956,8.0,10718.44,...,NaN,NaN,NaN,NaN,NaN,271.4,NaN,NaN,16.54,16.54
7,7,balti,rapid_loan_75_001_150000_mdl,90000,90000,36,23.0,35.8332,0.0,3969.83,...,NaN,NaN,NaN,NaN,NaN,NaN,1.1,NaN,16.54,16.54
8,8,cahul,rapid_loan_75_001_150000_mdl,100000,100000,24,20.0,33.5304,3.0,5996.18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-545.41,-1.40,-1.40
9,9,balti,rapid_loan_<=75_000_mdl,20000,20000,12,25.0,37.6992,4.0,3130.16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.74,11.74
10,10,balti,rapid_loan_75_001_150000_mdl,100000,100000,36,25.0,35.7300,4.0,6878.06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.54,16.54
11,11,balti,rapid_loan_75_001_150000_mdl,90000,90000,24,20.0,31.9056,0.0,5351.95,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12,chisinau_strcalea_iesilor,rapid_loan_75_001_150000_mdl,100000,100000,24,20.0,34.4868,0.0,5620.95,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-5.30,-5.30
13,13,balti,rapid_loan_<=75_000_mdl,26000,26000,24,25.0,39.0264,7.0,1522.04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.53,11.53
14,14,edinet,rapid_loan_75_001_150000_mdl,80000,80000,24,20.0,33.3672,0.0,4571.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.40,-1.40
15,15,soroca,rapid_loan_<=75_000_mdl,30000,30000,12,25.0,36.5532,0.0,3007.06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.74,11.74
16,16,balti,rapid_loan_<=75_000_mdl,25000,25000,24,24.0,38.1144,0.0,1451.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.30,-3.30
17,17,cahul,rapid_loan_75_001_150000_mdl,75000,75000,7,20.0,35.6700,0.0,21245.31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.51,14.51
18,18,edinet,rapid_loan_<=75_000_mdl,21000,21000,24,25.0,39.6960,1.0,1236.64,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-5.30,-5.30
19,19,chisinau_str._puskin,rapid_loan_75_001_150000_mdl,65000,65000,12,20.0,39.0828,0.0,6398.52,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.53,11.53

In [86]:
monthly=macro[macro["Frequency"]=="Monthly"]

monthly["Category"].value_counts()

Category
Inflation Rate              91
Food Inflation              91
Consumer Price Index CPI    91
Balance of Trade            90
Name: count, dtype: int64

In [87]:
monthly['DateTime'] = pd.to_datetime(monthly['DateTime'])

merged_df = df.merge(monthly, how='left', left_on='date_disbursement', right_on='DateTime')

for category in monthly['Category'].unique():
    mask = merged_df['Category'] == category
    df.loc[mask, category] = merged_df.loc[mask, 'Value']

df = df.reset_index(drop=True)

df

/var/folders/zc/bzfvn6lx1c1_30p_zl2yr9lw0000gn/T/ipykernel_67814/2952120918.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  monthly['DateTime'] = pd.to_datetime(monthly['DateTime'])

,Unnamed: 0,branch,product_details,amount,amount_mdl,maturity_months,ir,eir,grace_period,montly_payment,...,Food Inflation,Consumer Price Index CPI,Balance of Trade,Wages,Unemployment Rate,Remittances,GDP Growth Rate,Current Account,GDP,Government Budget
0,0,drochia,rapid_loan_75_001_150000_mdl,60000,60000,24,20.0,34.1928,0.0,3363.61,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.40,-1.40
1,1,balti,rapid_loan_<=75_000_mdl,15000,15000,12,25.0,43.8648,0.0,1511.67,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.74,11.74
2,2,balti,rapid_loan_<=75_000_mdl,15000,15000,8,25.0,43.8000,0.0,2161.56,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.40,-1.40
3,3,ungheni,rapid_loan_75_001_150000_mdl,65000,65000,36,20.0,32.8248,0.0,2760.76,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.74,11.74
4,4,balti,rapid_loan_75_001_150000_mdl,150000,150000,30,28.0,40.2156,0.0,7630.35,...,NaN,NaN,NaN,11486.2,NaN,NaN,NaN,NaN,-5.30,-5.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1062,1062,comrat,rapid_loan_75_001_150000_mdl,100000,100000,36,18.0,304392.0000,0.0,"4119,82",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.74,11.74
1063,1063,comrat,rapid_loan_<=75_000_mdl,40000,40000,24,27.0,399024.0000,0.0,"2359,83",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.54,16.54
1064,1064,comrat,rapid_loan_<=75_000_mdl,30000,30000,15,25.0,422352.0000,0.0,"2517,09",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.30,-3.30
1065,1065,comrat,rapid_loan_75_001_150000_mdl,55000,55000,9,19.0,297324.0000,6.0,"21513,83",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.51,14.51
1066,1066,comrat,rapid_loan_75_001_150000_mdl,60000,60000,24,25.0,333288.0000,0.0,"3480,37",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.54,16.54